<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <display-name>cee</display-name>
    <context-param>
        <param-name>logger</param-name>
        <param-value>WEB-INF/logging.xml</param-value>
    </context-param>

    <listener>
        <listener-class>app2.internal.StartupListener</listener-class>
    </listener>
    
    <servlet>
        <description>
        </description>
        <display-name>GenerateCsv</display-name>
        <servlet-name>GenerateCsv</servlet-name>
        <servlet-class>cee.GenerateCsv</servlet-class>
    </servlet>
    <servlet>
        <description>
        </description>
        <display-name>AustinCsv</display-name>
        <servlet-name>AustinCsv</servlet-name>
        <servlet-class>cee.AustinCsv</servlet-class>
    </servlet>
    <servlet>
        <description>
        </description>
        <display-name>ProcessSugarLandData</display-name>
        <servlet-name>ProcessSugarLandData</servlet-name>
        <servlet-class>cee.ProcessSugarLandData</servlet-class>
    </servlet>
    <servlet>
        <description>
        </description>
        <display-name>ReadHoustonTxExcel</display-name>
        <servlet-name>ReadHoustonTxExcel</servlet-name>
        <servlet-class>cee.ReadHoustonTxExcel</servlet-class>
    </servlet>
    <servlet>
        <display-name>ProcessBunkerHillVillageData</display-name>
        <servlet-name>ProcessBunkerHillVillageData</servlet-name>
        <servlet-class>cee.ProcessBunkerHillVillageData</servlet-class>
    </servlet>
    <servlet>
        <display-name>ProcessLeanderData</display-name>
        <servlet-name>ProcessLeanderData</servlet-name>
        <servlet-class>cee.ProcessLeanderData</servlet-class>
    </servlet>
    <servlet>
        <description>
        </description>
        <display-name>Process BastropCounty CSV</display-name>
        <servlet-name>ProcessBastropCountyCSV</servlet-name>
        <servlet-class>cee.BastropCountyCsv</servlet-class>
    </servlet>
    <servlet>
        <description>
        </description>
        <display-name>Process Travis County CSV</display-name>
        <servlet-name>ProcessTravisCountyCSV</servlet-name>
        <servlet-class>cee.TravisCountCsv</servlet-class>
    </servlet>
    <servlet>
        <description>
        </description>
        <display-name>Process Process LagoVista County CSV</display-name>
        <servlet-name>ProcessLagoVista</servlet-name>
        <servlet-class>cee.ProcessLagoVista</servlet-class>
    </servlet>
    <servlet>
        <description>
        </description>
        <display-name>Read Tweet</display-name>
        <servlet-name>ReadTweet</servlet-name>
        <servlet-class>com.marklogic.xcc.examples.ReadTweetsAndDisplay</servlet-class>
    </servlet>
    <servlet>
        <description>
        </description>
        <display-name>Process FortWorth Data</display-name>
        <servlet-name>ProcessFortWorthData</servlet-name>
        <servlet-class>cee.ProcessFortWorthData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessCounty</servlet-name>
        <servlet-class>cee.ext.ProcessCounty</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GenerateCsv</servlet-name>
        <url-pattern>/generateCsv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReadHoustonTxExcel</servlet-name>
        <url-pattern>/readHoustonExcelFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AustinCsv</servlet-name>
        <url-pattern>/austinCsv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessSugarLandData</servlet-name>
        <url-pattern>/processSugarLandData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessBunkerHillVillageData</servlet-name>
        <url-pattern>/processBunkerHillVillageData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessLeanderData</servlet-name>
        <url-pattern>/processLeanderData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessBastropCountyCSV</servlet-name>
        <url-pattern>/processBastropCountyData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessTravisCountyCSV</servlet-name>
        <url-pattern>/processTravisCountyData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessLagoVista</servlet-name>
        <url-pattern>/processLagoVistaData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReadTweet</servlet-name>
        <url-pattern>/readtweet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessFortWorthData</servlet-name>
        <url-pattern>/processFortWorthData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessCounty</servlet-name>
        <url-pattern>/processCounty</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessCounty</servlet-name>
        <url-pattern>/processCounty1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessCounty</servlet-name>
        <url-pattern>/processCounty3</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessCounty</servlet-name>
        <url-pattern>/processCounty2</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.htm</welcome-file>
        <welcome-file>default.jsp</welcome-file>
    </welcome-file-list>
</web-app>
